-- 20261113000000_homework_p1_q1277_q1341_conversions.sql
-- P1 Policy A: 5 questions -> fill_blank
-- Q1277: translation with accepted_targets for both visit/visited
-- Q1341: rework to objective question -> fill_blank
-- All PK-scoped, guarded on current type + empty question_data.
BEGIN;
UPDATE public.homework_questions SET question_type = 'fill_blank', question_data = jsonb_build_object('answer', 'Yes, there is')
WHERE id = 1083 AND question_type = 'short_answer' AND question_data = '{}'::jsonb;
UPDATE public.homework_questions SET question_type = 'fill_blank', question_data = jsonb_build_object('answer', 'It''s three thousand som')
WHERE id = 1125 AND question_type = 'short_answer' AND question_data = '{}'::jsonb;
UPDATE public.homework_questions SET question_type = 'fill_blank', question_data = jsonb_build_object('answer', 'Yes, there is')
WHERE id = 1155 AND question_type = 'short_answer' AND question_data = '{}'::jsonb;
UPDATE public.homework_questions SET question_type = 'fill_blank', question_data = jsonb_build_object('answer', 'There''s a lot')
WHERE id = 1163 AND question_type = 'short_answer' AND question_data = '{}'::jsonb;
UPDATE public.homework_questions SET question_type = 'fill_blank', question_data = jsonb_build_object('answer', 'It''s 30,000 som')
WHERE id = 2024 AND question_type = 'short_answer' AND question_data = '{}'::jsonb;
UPDATE public.homework_questions SET question_type = 'translation', question_data = jsonb_build_object(
  'direction', 'en2en',
  'source_text', 'On Eid we visit our relatives.',
  'target_text', 'visit'
), accepted_targets = ARRAY['visit', 'visited']
WHERE id = 1277 AND question_type = 'short_answer' AND question_data = '{}'::jsonb;
UPDATE public.homework_questions SET question_type = 'fill_blank', question_text = 'Most students feel ___ before a big test.', question_data = jsonb_build_object('answer', 'nervous')
WHERE id = 1341 AND question_type = 'short_answer' AND question_data = '{}'::jsonb;
COMMIT;
